@media(max-width: 800px){
    #navegacion-categoria{
        flex-direction: column;
    }

    #footer-principal {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


@media(max-width: 990px){
    #seccion-categoria{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    #seccion-categoria{
        grid-template-columns: repeat(1, 1fr);
    }
}