/* estilos-recuperar-password.css */
@import url("temas-colores-fuentes.css");
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #414141;
    color: #ffff ;
}

.recuperar-contrasena{
    width: 400px;
    height: auto;
    border: 1px solid #000;
    background-color: #222222;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;

}

h1{
    font-family: "Cinzel";
    font-size: 30px;
    text-align: center;
    color: #ffff;

}

p{
    font-family: "Rajdhani";
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
}
.div-correo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}


.input-texto{
    width: 100%;
    height: 20px;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #fff;
    background-color: #222222;
    color: #fff;
}

.input-texto:hover{
    border: 2px solid #4E8AE9 ;
}
.boton{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    background-color: #4E8AE9;
    font-family: "Cinzel";
    
}

.boton:hover{
    border: 3px solid #4E8AE9;
}


.terminos-condiciones{
    font-weight: 5px;
    

}

a{
    color: #4E8AE9 ;
}

a:hover{
    color:#a6a6f6f9 ;
}