@import url("temas-colores-fuentes.css");

* {
   /*border: solid;*/
   margin: 0;

}

body {
   background: linear-gradient(to bottom, #000000);
}

#encabezado-principal {

   display: flex;
   gap: 20px;
   padding: 0 20px;
   background: radial-gradient(#4E8AE9, #000000, #000000);


}

.titulo-principal {
   font-family: "Cinzel";
   color: white;
   margin: 10px;
   padding: 0 20px;
}

#encabezado-secundario {
   font-family: "Cinzel";
   font-weight: bold;
}

.logo img {


   width: 100px;
   height: auto;
   margin: 10px;
   object-fit: cover;
}

.buscador {
   width: 100%;
   height: auto;
   padding: 20px;

}

.buscador input {
   width: 100%;
   padding: 8px;
   border-radius: 10px;
   border: 1px solid #ccc;

}

.iconos {
   display: flex;
   gap: 20px;
   margin: 20px;
   font-size: 20px;
   cursor: pointer;

}

#navegacion-categoria {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
   padding: 0 20px;
   margin: 0 100px 100px;

}

.tab-categoria {

   font-family: "Rajdhani";
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   width: 200px;
   text-align: center;
   border: 2px solid black;
   border-radius: 8px;
   color: rgb(238, 238, 238);
   background: linear-gradient(to top, #4E8AE9, rgb(26, 25, 25));
   padding: 0 20px;
   border: 1px solid gray;
   transition: 2s ease;
}

.active-tab {
   width: 400px;
   font-size: 40px;
   color: #4E8AE9;
   border: 3px solid #4E8AE9;
   background: linear-gradient(to left, gray, rgb(34, 30, 30));
   transition: all 0.3s ease;
}




#seccion-filtros {
   display: grid;
   padding: 20px;
 
}

#seccion-categoria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 25px;
   padding: 20px;
   justify-items: center;
   margin: 0 auto;
}

.articulo-categoria {
   padding: 20px;
   background: linear-gradient(to top, #4E8AE9, #222);
   border: 1px solid #4E8AE9;
   border-radius: 20px;
   text-align: center;
   color: #fff;
   box-shadow: 0 0 6px #4E8AE9;
   width: 100%;
   max-width: 400px; 
   min-height: 300px; 
   transition: transform 0.3s, box-shadow 0.3s;
}





.articulo-categoria img {
   width: 100%;
   height: auto;
   aspect-ratio: 1/1;
   object-fit: contain;
}



.header-articulo p {
   font-family: "Cinzel";
   font-weight: bold;
   font-size: 20px;
   padding: 10px;
}



.articulo-categoria {
   border: solid 2px rgb(112, 107, 107);

}

.detalle-articulo h4 {
   color: #000000;
   font-size: 20px;
}



#footer-principal {
   background-color: blue;
   color: white;
   display: flex;
   justify-content: space-between;
   padding: 2em;
}

#qr-code {
   width: 100px;
   height: 100px;
}

.tab-categoria:hover {
   background-color: blue;
}

.detalle-articulo {
  max-width: 100%; 
  margin: 0 auto; 
  line-height: 1.5; 
  text-align: center; 
  font-size: 0.95rem;
}

/* Carrousel imgs*/

.carousel {
  width: 800px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  margin: auto;
}

.carousel-images {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.carousel img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 8px 0;
  font-weight: bold;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
  z-index: 10;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}


/* fin carrousell */

/* footer de la pagina */
#footer-principal {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   background: white;
   padding: 10px;
   margin-top: 20px;
   background: linear-gradient(to bottom, #000000);
}

#footer-principal-izquierda img {
   width: 17em;
}

#footer-principal-izquierda {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   margin: auto;
   color: white;
}

#footer-principal-centro {
   text-align: center;
   margin: auto;
}

.logos img {
   transition: 0.5s;
}

.logos {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 15px;
}

.logos img:hover {
   transform: translateY(10px);
}

#footer-principal-centro img {
   width: 35px;
}

#footer-principal-derecha {
   justify-content: center;
   margin: auto;
}

#footer-principal-derecha ul {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;
   color: white;
}