@import url("temas-colores-fuentes.css");

* {
   /*border: solid;*/
   margin: 0;

}

body {
   background: linear-gradient(to bottom, #000000);
}

#encabezado-principal {

   display: flex;
   gap: 20px;
   padding: 0 20px;
   background: radial-gradient(#4E8AE9, #000000, #000000);


}

.titulo-principal {
   font-family: "Cinzel";
   color: white;
   margin: 10px;
   padding: 0 20px;
}

#encabezado-secundario {
   font-family: "Cinzel";
   font-weight: bold;
}

.logo img {


   width: 100px;
   height: auto;
   margin: 10px;
   object-fit: cover;
}

.buscador {
   width: 100%;
   height: auto;
   padding: 20px;

}

.buscador input {
   width: 100%;
   padding: 8px;
   border-radius: 10px;
   border: 1px solid #ccc;

}

.iconos {
   display: flex;
   gap: 20px;
   margin: 20px;
   font-size: 20px;
   cursor: pointer;

}

#navegacion-categoria {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
   padding: 0 20px;


}

.tab-categoria {

   font-family: "Rajdhani";
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   width: 200px;
   text-align: center;
   border: 2px solid black;
   border-radius: 8px;
   color: rgb(238, 238, 238);
   background: linear-gradient(to top, #4E8AE9, rgb(26, 25, 25));
   padding: 0 20px;
   border: 1px solid gray;
   transition: 2s ease;
}

.tab-categoria:focus {
   width: 400px;
   font-size: 40px;
   color: #4E8AE9;
   border: 3px solid #4E8AE9;
   background: linear-gradient(to left, gray, rgb(34, 30, 30));
}


#seccion-filtros {
   display: grid;
   padding: 20px;
}

#seccion-categoria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 40px;
   padding: 0 20px;

}

.articulo-categoria {
   padding: 15px;
   background: linear-gradient(to top, #4E8AE9, #222222);
   border: 1px solid #4E8AE9;
   border-radius: 20px;
   text-align: center;
   color: #ffff;
   box-shadow: 0 0 3px;

}

.articulo-categoria:hover {
   border: 1px solid;
   
   box-shadow: 0 0 20px #4E8AE9;
}

.articulo-categoria img {
   width: 100%;
   height: auto;
   aspect-ratio: 1/1;
   object-fit: contain;
}



.header-articulo p{
   font-family: "Cinzel";
   font-weight: bold;
   font-size: 20px;
   padding: 10px;
}



.articulo-categoria {
   border: solid 2px rgb(112, 107, 107);

}

 .detalle-articulo h4{
   color: #000000;
   font-size: 20px;
}



#footer-principal {
   background-color: blue;
   color: white;
   display: flex;
   justify-content: space-between;
   padding: 2em;
}

#qr-code {
   width: 100px;
   height: 100px;
}

.tab-categoria:hover {
   background-color: blue;
}

/* footer de la pagina */
#footer-principal {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   background: white;
   padding: 10px;
   margin-top: 20px;
   background: linear-gradient(to bottom, #000000);
}

#footer-principal-izquierda img{
   width: 17em;
}

#footer-principal-izquierda {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   margin: auto;
   color: white;
}

#footer-principal-centro {
   text-align: center;
   margin: auto;
}

.logos img {
   transition: 0.5s;
}

.logos {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 15px;
}

.logos img:hover {
   transform: translateY(10px);
}

#footer-principal-centro img{   
   width: 35px;
}

#footer-principal-derecha {
   justify-content: center;
   margin: auto;
}

#footer-principal-derecha ul{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 10px;
   color: white;
}
