/* estilos-registrarse.css */
@import url("temas-colores-fuentes.css");

body {
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

#registrarse {
    margin: 0; 
}

#registrarse {
    margin-top: 5%;
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    height: 400px;
    background-color: #222222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form, a {
    background-color: #222222;
    color: #fff;
    text-decoration: none;
}

h1 {
    position: relative;
    color: #fff;
    font-family: "Cinzel";
    background-color: #222222;

}

.input-form {
    margin-bottom: 1.5em;
    background-color: #222222;
    
}

.input-texto {
    background-color: #222222;
    color: #fff;
    border-radius: 1.3em;
    border: 1px solid #ffff;
    width: 350px;
    padding: 8px;
    margin-bottom: 4%;
}

.input-texto:hover {
    border: 1px solid #4E8AE9;
}

.boton {
    margin: 20px;
    background-color: #222222;

}

#input-boton {
    width: 100%;
    height: 50px;
    border-radius: 39px;
    color: #fff;
    background-color: #4E8AE9;
    font-family: "Cinzel";
}

.iniciar-sesion, span {
    text-align: center;
    background-color: #222222;
    color: #4E8AE9;
}

.condiciones label {
    background-color: #222222;
    color: #fff;
}

.condiciones {
    position: relative;
    top: 20px;
    background-color: #222222;
}

.disabled-btn {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.7;
}