@import url("temas-colores-fuentes.css"); 

*{
   /*border: solid;*/
   margin: 0;
   
}

#encabezado-principal {
   background-color: #ffff;
   display: flex;
   
}

#encabezado-secundario{
   font-family: "Cinzel";
   font-weight: bold;
}

.logo img {
   flex: 1;
   position: relative;
   width: 8em;
   height: auto;
}

.buscador {
   flex: 1;
   padding-right: 2em;
  
}

.buscador input {
   width: 100%;
   padding: 8px;
   border-radius: 10px;
   border: 1px solid #ccc;
   
}

.iconos span {
   margin-top: 20px;
   font-size: 22px;
   cursor: pointer;
  
}

#navegacion-categoria {
   display: flex;
   width: 100%;
   background-color: #DC121B;
   justify-content: space-evenly;
   border-radius: 10px;
   text-align: center;
}

.tab-categoria {
  color: #0a122a;
  font-family: "Rajdhani";
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}


#seccion-filtros{
   display: grid;
   grid-template: repeat(3, 1fr);
   gap: 20px;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   
}

#seccion-categoria {
   display: grid;
   background-color: #c9c5ba;
   font-family: "Cinzel";
   font-weight: bold;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
   max-width: 1200px;
   margin: 30px auto;
   padding: 20px;
   border-color: #4E8AE9;
}

.articulo-categoria{
   padding: 15px;
   background-color: #222222;
   border: 1px solid #4E8AE9;
   border-radius: 8px;
   text-align: center;
   color: #ffff;
}

.articulo-categoria img{
   width: 100%;
   height: auto;
   display: block;
   margin-bottom: 10px;
}



.item-valor-portada{
   width: 100%;
   max-width: 300px;
   max-height: 500px;
}

.articulo-categoria {
   border: solid 3px gray;
   
}

#footer-principal {
   background-color: blue;
   color: white;
   display: flex;
   justify-content: space-between;
   padding: 2em;
}

#qr-code {
   width: 100px;
   height: 100px;
}

.tab-categoria:hover {
   background-color: blue;
}